body{
    background-color: palevioletred;
}
h1{
    color: black;
    text-align: center;
    font-size: 100px;
}
p{
    text-align: justify;
    font-size: 100%;
}
#imagem1{
    width: 100%;
    height: 20%;
    border: 2px solid black;
}